[buildout]
develop = .
parts = devpython scripts sphinxbuilder sphinxpython releaser
versions = versions
show-picked-versions = false

[versions]


[devpython]
recipe = zc.recipe.egg
interpreter = devpython
eggs = bowerstatic
       flake8
       radon

[scripts]
recipe = zc.recipe.egg:scripts
eggs = bowerstatic [test]
       pytest

[sphinxbuilder]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/doc
build = ${buildout:directory}/doc/_build
interpreter = ${buildout:directory}/bin/sphinxpython

[sphinxpython]
recipe = zc.recipe.egg
interpreter = ${:_buildout_section_name_}
eggs = bowerstatic

[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser
